---



---
  <h1 class="text-center text-7xl font-bold p-3 m-4">DataBase Dragon Ball</h1>
  <p class="text-center text-lg mb-5">
    Aqui encontraras toda la info de tus personajes favoritos de Dragon Ball Z
  </p>

