---
import { getPersonajes } from "../lib/personajes";

const data =  await getPersonajes()

console.log(data)


---

<header class=" ">
  <h1 class="text-center text-4xl font-bold p-3 m-4">DataBase Dragon Ball</h1>
  <p class="text-center text-lg mb-5">
    Aqui encontraras toda la info de tus personajes favoritos de Dragon Ball Z
  </p>

  <section
    class="flex flex-col w-full gap-2 lg:flex lg:flex-row items-center mb-2"
  >
    <form class="max-w-sm mx-auto">
      <div class="relative">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
          </svg>
        </div>
        <input
          type="search"
          id="buscar"
          class="block w-full p-3 ps-10 text-sm lg:w-60 text-white border rounded-lg"
          placeholder="Son Goku, Vegeta...."
          required
        />
      </div>
    </form>

    <form class="max-w-sm mx-auto">
      <select
        id="universos"
        class="block w-[213px] text-sm rounded-lg p-3 lg:w-60 border"
      >
        <option class="text-white">Universo 7</option>
      </select>
    </form>
  </section>
</header>

<script>

 

</script>