---
import Carta from "./Carta.astro"
---

<section class="mt-5">
  <h2 class="text-4xl font-semibold text-center">Personajes</h2>

  <div class="grid gap-2 sm:grid-cols-2 lg:grid-cols-3">
      <Carta />
      <Carta />
      <Carta />
      <Carta /> 
      <Carta />
      <Carta />
      <Carta />
  </div>

  <section></section>
</section>
